.side-bar {
	background-color: rgba(217, 217, 217, .8);
	float: left;
	width: 300px;
	height: 803px;
	font-family: sans-serif;
}

.side-bar .title {
	padding-left: 15px;
	color: rgb(60,60,60);
	/*border-style: solid;*/
	/*border-color: black;*/
	display: inline-block;
	margin-top: 40px;
	margin-bottom: 20px;

}

.side-bar .room {
	padding-left: 20px;
	padding-top: 10px;
	color: rgb(140,140,140);
}

.new-room-form {
	display: inline;
	margin-top: 10px;
}

.new-room-button {
	display: inline-block;
	float: right;
	border-style: none;
	/*border-color: black;*/
	margin-top: 45px;
	margin-right: 20px;

	padding: 8px 15px 8px 15px;
	background-color: rgb(250,250,250);
	color: rgb(140,140,140);
}

/* Add per boostrap documentation */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.chat-room{
	float:left;
	width: 700px;
	height: 753px;
	border-style: solid;
	border-color: grey;
}
.chat-room-title{
	font-weight: normal;
	border-style: none;
	border-color: blue;
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;

}

.message-block{
	border-width: thin;
	border-style: none;
	border-color: rgba(0,0,0,.5);
	height:60px;
	margin: 0px;
	background-color: white;
}

.message-block:nth-child(even){
	border-width: thin;
	border-style: none;
	border-color: rgba(0,0,0,.5);
	height:60px;
	margin: 0px;
	background-color: rgba(242, 243, 252,0.8);
}

.time{
	border-style: none;
	border-color: green;
	float: right;
	margin-right: 50px;
	color:  rgba(168, 173, 181,.7);
}

.username{
	border-style: none;
	border-color: green;
	float:left;
	margin: 0 0 0 20px;
	font-weight: bold;
}

.message{
	border-style: none;
	border-color: green;
	margin-top: 12px;
	margin-left: 20px;
}

.break{
	display:block;
	margin: 0px;
	border-style: solid;
}
