<div ng-controller="HomeCtrl as home">
	<div class="side-bar">
		<h1 class="title">Bloc Chat</h1>
		<div class="new-room-form" ng-controller="newChatRoomCtrl as newChatRoom">
			<button class="new-room-button btn btn-default" type="button" ng-click="newChatRoom.open()">New Room</button>
		</div>
		<div class="room" ng-repeat="room in home.Rooms" ng-click="home.changeChat(room)">{{ room.$value }}</div>
	</div>
	<div class="chat-room">
		<h3 class="chat-room-title">{{ home.activeChatProperties.title }}</h3>
		<div class="message-block" ng-repeat="message in home.activeChatProperties.messages">
			<div class="username-and-time">
				<div class="username">{{ message.username }}</div>
				<div class="time">{{ message.sentAt }}</div>
			</div><br class="break1">
			<div class="message">{{ message.content }}</div>
		</div>
	</div>
	<div class="message-bar" ng-controller="MessagesCtrl as Messages">
		<textarea class="message-text" id="messageText" placeholder="Enter message..."></textarea>
		<div class="send-button" ng-click="Messages.send(home.activeChatProperties.id)">
		Send
		</div>
	</div>
</div>
